body {
    font-family: 'montserrat';
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: 800;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff3c68;
    color: #fff;
    padding: 0 0 0 3%;
}

/* Navigation Bar */

.navbar {
    margin-bottom: 10%;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: 'Montserrat';
    font-weight: light;
    font-size: 1.1rem;
}

/* Buttons */

.download-button {
    margin: 5% 3% 3% 0;
}

/* Title Image */

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    left: 55%;
}

/* Features */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

/* Icon */

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
    transition: color 0.2s;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}

.cta-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */

#footer {
    text-align: center;
    padding: 7% 15%;
}

.social-icon {
    margin: 20px 10px;
    transition: color 0.2s;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #517fa4;
}

.fa-envelope:hover {
    color: #dd4b39;
}

@media (max-width:1070px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}