body {
    font-family: 'montserrat';
}

#title{
    background-color: #ff3c68;
    color: #fff;
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: 'Montserrat';
    font-weight: light;
    font-size: 1.1rem;
}

/* Buttons */

.download-button {
    margin: 5% 3% 3% 0;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
}